<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALL CARS</title>
    <style>table th, table td {padding: 3px;}</style>
</head>
<body>
<h2>CARS</h2>

<table class="table table-striped border-1" border="1">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Series</th>
        <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}"/>
        <td th:text="${car.getSeries()}"/>
        <td th:text="${car.getColor()}"/>
    </tr>
    </tbody>
</table>

</body>
</html>